body {
    background: #F0F2F5;
    color: black;
}

.navbar {
    background-color: #77B08D;
    border-bottom: solid 1px gray;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: white;
}

#applybutton {
    background-color: #77B08D;
    color:white;
}

.search_bar {
    display: inline;
    float: left;
    background-color: #7DA3A1;
    width: 40%;
}

.search_results {
  display: inline;
  float: left;
  width: 60%;
}
