{% extends "jobseeker/base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container d-flex justify-content-center mt-5 py-5 px-1">
        <form class="border p-5" method="post" action="{% url 'login' %}" style="min-width: 65%; background-color: white;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <input class="btn btn-light" type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock content %}