{% extends "feed/base_template.html" %}
{% load static %}
{% block content %}
  <div>
    <div class="container-fluid w-100 ms-0" style="background-color: #CDCDCD;">
      <div class="container pt-4 pb-3">
          <h1>Who Are We?</h1>
          <p class="blockquote">
            Job Seeker is a platform that is used both by job-seekers and employers:<br>
            Job-seekers can use Job Seeker to search for new job opportunities in their area and profession.<br>
            Employers can use Job Seeker to advertise their open positions and find new candidates.
          </p>
          <h3>Our Mentors</h3>
          <p class="blockquote">Yariv Rachmani, Kasem Alem, Ronnie Rasouli</p>
      </div>
    </div>
    <div class="container mt-5 mb-3">
      <h1 class="mb-5">Our Team</h1>
      <div class="row">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h3>Tal Jacob</h3>
          <p class="text-muted">3rd year CS student</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h3>Dean Biton</h3>
          <p class="text-muted">3rd year CS student</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h3>Shirley Fichman</h3>
          <p class="text-muted">3rd year CS student</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h3>Amit Cohen</h3>
          <p class="text-muted">3rd year CS student</p>
        </div>
        <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h3>Omer Pahima</h3>
          <p class="text-muted">2nd year CS student</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
