{% load static %}
<!DOCTYPE html>
<head>
<title>Job Seeker</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">JOB SEEKER</h1>
  <p class="w3-xlarge">Mentors: Yariv Rachmani, Kasem Alem, Ronnie Rasouli<br>Students: Omer Pahima, Amit Cohen, Shirley Fichman, Dean Biton, Tal Jacob</p>
</header>
<!-- Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Project Description</h1>
      <h5 class="w3-padding-32">Job Seeker is a job board website that is used both by job-seekers and employers:<br>Job-seekers can use Job Seeker to search for new job opportunities in their area and profession.<br>Employers can use Job Seeker to advertise their open positions and find new candidates.</h5>
    </div>
    <div class="w3-third w3-center">
		<img src="{% static 'jobseeker/logo.png' %}" />
    </div>
  </div>
</div>
</body>
</html>