{% load static %}
<div class="mb-5 container d-flex justify-content-center">
    <div class="card" style="min-width: 65%;">
        <div class="card-body pb-1">
            <div class="d-flex pb-2">
                <a href="">
                    <img src="{{ post.author.personalprofile.profile_pic.url }}"
                    class="border rounded-circle me-2" style="height: 50px; width: 50px;" />
                </a>
                <div>
                    <a href="" class="text-dark">
                        <strong>{{ post.author }}</strong>
                    </a>
                    <p class="text-muted d-block" style="margin-top: -6px;">
                        <small>{{ post.date_posted }}</small>
                </div>
                <div class="dropdown position-absolute top-0 end-0">
                    <button class="btn " type="button" data-bs-toggle="dropdown" >
                        <img src="{% static 'jobseeker/icons/three-dots-vertical.svg' %}" />
                    </button>
                    {% if user.is_authenticated %}
                        {% if post.author == user %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                <li><a class="dropdown-item" href="{% url 'post-delete' post.id %}">Delete</a></li>
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- Description -->
            <div>
                <h5><a class="text-decoration-none text-dark" href="{% url 'post-detail' post.id %}">{{post.title}}</a></h5>
                <p>
                    {{ post.content }}
                </p>
                {% if post.is_job_offer %}
                    <p>
                        <b>Job Type:</b> {{ post.prefernces.job_type.text }} <br>
                        <b>Experience Level:</b> {{ post.prefernces.years_of_experience }} <br>
                        <b>Location:</b> {{ post.prefernces.location.name }}
                    </p>
                {% endif %}
            </div>
        </div>
        
        <div class="card-body">
            
            <!-- Reactions -->
            <div class="d-flex justify-content-between mb-3">
                <div class="ms-2">
                    <a class="btn disabled">
                        <img src="{% static 'jobseeker/icons/like.svg' %}" class="me-2" />
                        <span>{{post.likes.all.count}}</span>
                    </a>
                </div>
                <div class="me-2">
                    <a class="text-muted btn disabled"> {{post.comments.all.count}} comments </a>
                </div>
            </div>                
    
            <!-- Buttons -->
            <div class="d-flex justify-content-around text-center border-top border-bottom mb-4">
                <form action="{% url 'like-post' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-lg">
                        <img src="{% static 'jobseeker/icons/like.svg' %}" class="me-2" /> Like
                    </button>
                </form>
                <form action="{% url 'comment-create' post.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-lg">
                        <img src="{% static 'jobseeker/icons/comment.svg' %}" class="me-2" /> Comment
                    </button>
                </form>
                {% if post.is_job_offer %}
                    <button type="button" class="btn btn-lg" id="applybutton">
                        Apply
                    </button>
                {% endif %}
            </div>
            
            {% for comment in post.comments.all %}
            <!-- Answers -->
            <div class="d-flex mb-3">
                <a href="">
                    <img src="{{ comment.author.personalprofile.profile_pic.url }}"
                    class="border rounded-circle me-2" style="height: 40px; width: 40px;" />
                </a>
                <div class="bg-light rounded-3 px-3 py-1 d-flex">
                    <div class="d-inline">
                        <a href="" class="text-dark mb-0">
                            <strong>{{comment.author}}</strong>
                        </a>
                        <p class="text-muted d-block mb-0">
                            <small>{{comment.content}}</small>
                        </p>
                    </div>
                    <div class="dropdown d-inline">
                        <button class="btn" type="button" data-bs-toggle="dropdown" >
                            <img src="{% static 'jobseeker/icons/three-dots-vertical.svg' %}" />
                        </button>
                        {% if user.is_authenticated %}
                            {% if comment.author == user %}
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                    <li><a class="dropdown-item" href="{% url 'comment-delete' comment.id %}">Delete</a></li>
                                </ul>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>