{% extends "jobseeker/base_template.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5 py-5 px-1">
        <div class="content-section" style="min-width: 65%;">
            <form class="border p-5" method="POST" style="background-color: white;">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"><b>New Post</b></legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mt-4">
                    <input class="btn border btn-light" type="submit" value="Post">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}