{% extends "jobseeker/base_template.html" %}
{% block content %}
<section class="section about-section gray-bg" id="about">
    <div class="container">
        <button onclick= "redirectButton()" type="button" class="btn btn-success" href="{% url 'update-detail' personalprofile.id %}">Update Profile</button>
        <script>
            function redirectButton() {
              window.location.href="{% url 'update-detail' personalprofile.id %}";  
            }
          </script>
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                    <h6 class="theme-color lead"><b>Name: </b>{{ personalprofile.user.username }}<br></h6>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <h6 class="theme-color lead"><b>Company: </b>{{ personalprofile.company }}</h6>
                                <h6 class="theme-color lead"><b>Birth Date: </b>{{ personalprofile.birth_date }}</h6>
                            </div>
                        </div>
                    </div>
                    <p>{{ personalprofile.about }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                      <img src="{{ personalprofile.profile_pic.url }}" class="border rounded-circle me-2" title="" alt="">
                </div>
            </div>
        </div>
        <div class="counter">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="count-data text-center">
                        <p class="m-0px font-w-600">  <a href="{{ personalprofile.resume.url }}">Resume</a></p>
                </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
