{% extends "jobseeker/base_template.html" %}
{% block content %}
<h5>{{personalprofile.title}}</h3>
<div class="pt-5">
    <div class="d-flex pb-2">
        <a href="">
            <img src="{{ PersonalProfile.profile_pic.url }}"
            class="border rounded-circle me-2" style="height: 50px; width: 50px;" />
        </a>
    <div>
    <b>Name:</b> {{ personalprofile.user.username }} <br>
    <b>Company:</b> {{ personalprofile.company }} <br>
    <b>About:</b> {{ personalprofile.about }} <br>
    <div class="d-flex pb-2">
        <a href="{{ PersonalProfile.resume.url }}">ok</a>
    <div>
</div>
{% endblock content %}



